{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us - Bus Booking Management</title>
    <link rel="stylesheet" href="{% static 'css/about.css' %}">
</head>
<body>
    
    <section id="about">
        <div class="about-container">
            <div class="about-content">
                <div class="image">
                    <img src="{% static 'images/bus10.jpeg' %}" alt="Bus Booking Management">
                </div>
                <div class="text">
                    <h1>About Us</h1>
                    <p>Welcome to our Bus Booking Management System, where we strive to provide you with the most efficient and seamless bus travel experience. Our platform is designed to make booking, managing, and tracking your bus journeys easy and convenient. With a user-friendly interface, real-time updates, and secure payment options, we are committed to ensuring your travel is smooth from start to finish.</p>
                    <p>Our team is dedicated to offering the best in customer service and support. We work tirelessly to maintain a high standard of reliability and satisfaction. Whether you are a frequent traveler or booking for the first time, our system is here to make your journey hassle-free.</p>
                    <p>Thank you for choosing us for your bus travel needs. We look forward to serving you and making your travel experience exceptional.</p>
                </div>
            </div>
        </div>
    </section>
    
</body>
</html>
